# .npmignore 

.hushy/
.babelrc
.swc.cjs.json
.gitignore
.gitattributes
.mocharc.js
.prettierignore
.travis.yml
jsdoc.json
babel.config.js
*.log
src
test
examples
docs
coverage
.nyc_output
lib/**/unitSpecs