# .npmignore 

.husky
.babelrc
.changeset
.swcrc
swc.build.json
.gitignore
.gitattributes
.mocharc.js
.prettierignore
.travis.yml
jsdoc.json
swc.build.json
*.log
src
test
examples
docs
coverage
.nyc_output
lib/__tests__